
.container{
  display: flex;
  height: 100%;
}
  
.column{
  display: flex;
  flex-direction: column;
  flex: 25%;
  max-width: 25%;
}

img{
  margin: 5px; 
}

.multiDiv{
  
}


.imgClass{
  flex-direction: row;
  max-width: 25%;
  flex: 1;
  

}
