body{
   background-color: rgb(22, 22, 22) ;
}
#play-pause{
   height: 60px;
   cursor: pointer;
   padding-left: 10px;
   padding-right: 10px;

}
#volume-icon{
   height: 40px;
   margin-left: 10px;

}

/* #skip{
   height: 50px;
   cursor: pointer;
} */
h4{
   font-family: monospace;
   font-size: 30px;
   font-weight: 10px;
   color: rgb(255, 255, 255);
  
}
h2{
   font-family: monospace;
   color: white;
   margin-left: 710px;
   font-size: 15px;
}
/* h2{
   font-family: monospace;
   font-size: 15px;
   color: white;
   margin-left: 100px;
 
} */

/*
******************************************************
THIS button{} WAS MAKING THE TRACKBUTTONS DO ODD THINGS
******************************************************
*/
/* button{
   font-family: monospace;
   font-size: 30px;
   position: relative;
   margin-left: 570px;
   color: crimson;
   background-color: maroon;
   border-radius: 15px;
   border-color: rgb(167, 0, 8);
  
   

} */
button.hover{
   cursor: pointer;

}
#audio-player-container{
   width: 800px;
   height:  300px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   margin-top: 150px;
   padding: 10px;
   justify-content: center; 
   border-style: solid;
   border-color: rgb(139, 0, 42);
   border-style: ridge;
   border-width: 25px;
   background-image: linear-gradient(to right, #d52626,#1e2452) ;

}
#audio-player-controls{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: auto;
   padding: 10px;
   justify-content: center;    
}
#seek-bar{
   width: 300px;
   cursor: pointer; 
   margin-left: 10px;
   height: 50px;
   justify-content: center;
   
}
#current-time{
   padding-left: 5px;
}
.volume-control{
   align-items: centre;
   border-radius: 100px;
   width: 100px;
   margin-left: 10px;

}
.slider{
   padding-left: 25px;
   align-items: center;
   margin-top: 20px;
}
.slider input[type="range"]{
   position:relative;
   background: transparent;
}
#painting{
   width: 200px;
   height: auto;
}

#tracklist{
   display: flex;
   flex-direction: row;

}

.trackbutton{
   flex-grow: 1;
   height: 100px;
}

#track1{
  background-image: url("/images/dan-peacock.jpg"); 
  background-size: cover;
}

/* datalist{
   display: flex;
   justify-content: space-between;
   writing-mode: vertical-lr;
   width: 10px;
   padding: 50px;
}
input[type="range"]{
   width: 10px;
   margin: 0;
} */



